:root {
    --urlbar-collapsed-width: 296px;
    --tab-border-radius: 6px !important;
    /*--tab-min-height: 32px!important;*/
    --tab-min-height: 27px!important;
    --onebar-top-margin: 6px!important;
    --arrowpanel-menuitem-padding: 4px 8px !important;
    --tab-block-margin: 0!important;
    --titlebar-buttonbox-container-top: 6px;
}

/* Windows */
@media (-moz-platform: windows-win10), (-moz-platform: windows-win11) {
    /* I don't actually know if it's -win11 or not, but I hope it is. */ 
    :root {
        --titlebar-buttonbox-container-top: 0;
    }

}
