/*
 * Context Menu
 *
 * spacing */
menupopup:not(.in-menulist) > menuitem,
menupopup:not(.in-menulist) > menu {
  padding-block: 4px !important;
  min-height: unset !important;
}
:root { --arrowpanel-menuitem-padding: 4px 8px !important; }

/* right-click on blank space */
#context-navigation,
#context-sep-navigation,
#context-selectall,
#context-pocket,
#context-sendpagetodevice,
#context-sep-sendpagetodevice,
#context-inspect-a11y {
	display: none!important;
}
/* right-click on link */
#context-openlinkinusercontext-menu,
#context-bookmarklink,
#context-searchselect,
#context-sep-searchselect,
#context-savelinktopocket,
#context-sendlinktodevice,
#context-sep-sendlinktodevice {
	display: none!important;
}

/* right-click on image */
#context-sendimage,
#context-setDesktopBackground,
#context-sep-setbackground {
	display: none!important;
}

/* burger-menu elements */
#appMenu-new-tab-button2,
#appMenu-new-window-button2,
#appMenu-extensions-themes-button,
#appMenu-extensions-themes-button
       + toolbarseparator,
#appMenu-print-button2,
#appMenu-save-file-button2,
#appMenu-find-button2,
#appMenu-zoom-controls {
	display: none!important;
}
.panel-subview-body {
    padding: 4px 0!important;
}
panel toolbarseparator {
    margin: 2px!important;
}

/* selection context */
#context-openlinkincurrent,
#context-cut,
#context-copy,
#context-paste,
#context-sep-selectallf {
	display: none!important;
}
/* tab context */
#tabContextMenu #context_openANewTab,
#tabContextMenu #context_openANewTab + menuseparator,
#tabContextMenu #context_moveTabOptions,
#tabContextMenu #context_sendTabToDevice,
#tabContextMenu .share-tab-url-item,
#tabContextMenu #context_reopenInContainer {
	display: none!important;
}
/* urlbar context */
#urlbar menuitem[cmd="cmd_cut"],
#urlbar menuitem[cmd="cmd_copy"],
#urlbar menuitem[cmd="cmd_paste"],
#urlbar menuitem[cmd="cmd_delete"],
#urlbar menuitem[cmd="cmd_selectAll"] {
	display: none!important;
}
/* media context */
#context-sendvideo,
#context-sendaudio {
	display: none!important;
}
