/*
:root {
    --tab-min-width: 100px!important;
    --urlbar-collapsed-width: 200px;
}*/

/*
#alltabs-button {
    display: unset!important;
    position: relative!important;
    top: -8px!important;
    list-style-image: url('svg/all-tabs.svg')!important;
}*/
/* Onebar related */
#navigator-toolbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative !important;
    padding-left: var(--tab-block-margin);
}

/* Hide flexible spaces */
toolbarspring,
[id^="wrapper-customizableui-special-spring"] {
    display: none !important;
}

#urlbar-container {
    min-width: var(--urlbar-collapsed-width) !important;
    z-index: 10;
    transition: background-color .2s, width .2s, min-width .2s;
    position: static !important;
    width: unset !important;
}
#urlbar {
    position: relative !important;
    align-self: flex-start !important;
    margin-block: auto !important;
}

#urlbar-input-container {
    display: flex !important;
}
#urlbar-input-container > :not(.urlbar-input-box) {
    order: 2;
}
.urlbar-input-box {
    flex-grow: 1 !important;
    padding-left: .5em !important;
    width: 100px !important;
    min-width: 50px !important;
    transition: width .2s;
}

#urlbar-input:not(:focus-within) {
    mask: linear-gradient(to right, black calc(100% - 20px), transparent);
}


/*#urlbar-results .urlbarView-row:first-child{display:none !important}*/
#urlbar-background {
    transition: border .2s;
}


/* Hide unimportant buttons until hover */
:root {
    --in-transition: font-size .2s, padding .2s, margin .2s, max-width .2s, opacity .2s .15s;
    --out-transition: font-size .2s, padding .2s, margin .2s, max-width .2s, opacity .07s;
}




