/* Hide "https://" in urlbar unless focused
 */
#urlbar-input {
    transition: margin .1s;
}
.verifiedDomain ~ .urlbar-input-box:not(:focus-within) #urlbar-input {
    margin-left: -7ch !important;
    mask: linear-gradient(to right, transparent 4ch, black 5ch calc(100% - 3ch), transparent) !important;
}
