 /*
  * Colour Variables For Dark And Light Modes
  */
@media (prefers-color-scheme: Light) {
    :root {
        --tab-selected-bgcolor: Field;
        --tab-unselected-hover-bgcolor: rgba(0, 0, 0, .1);
        --urlbar-bgcolor: white;
        --all-tabs-button-icon: url("../svg/all-tabs-light.svg")!important;
    }
}
@media (prefers-color-scheme: Dark) {
    :root {
        --tab-selected-bgcolor: transparent;
        --tab-unselected-hover-bgcolor: rgba(255, 255, 255, .25);
        --urlbar-bgcolor: white;
        --all-tabs-button-icon: url("../svg/all-tabs-dark.svg")!important;
    }
}
