/*
 * Navbar
 */
#urlbar-container, #search-container {
    padding-block-start: 0!important;
    margin-top: 6px!important;
    font-size: 1em!important;
}

#urlbar-container{
    height: 26px!important;
}


#nav-bar #search-container {
    min-width: 32px !important;
    /*transition: min-width .2s;*/
}

/* top border radii */
#urlbar-background, #searchbar {
    border-radius: var(--tab-border-radius) var(--tab-border-radius) 0 0 !important;
    border-width: 1px 1px 0 1px!important;
}
/*
 * Navbar Buttons
 */
/* hide them all */
#stop-reload-button,
#stop-button,
#reload-button,
#forward-button,
#tabs-newtab-button,
#back-button {display: none!important;}

#nav-bar {
    background: none !important;
    /* Set max-width so the tabs list dropdown isn't hidden */
    max-width: calc(100vw - ((2 * var(--toolbarbutton-inner-padding) + 16px) + (var(--toolbarbutton-outer-padding) * 2)) - var(--tab-block-margin)) !important;
    position: static !important;
}
