 /*
  * Single Tab Behaviour
  */
tab:only-of-type {
    width: 0px!important;
    overflow: unset!important;
    font-size: 1.25em;
    max-width:0px!important;
    min-width:0px!important;
    
    transition: font-size .15s;
    transition-timing-function: ease;
}

tab:only-of-type .tab-background {display: none!important;}
/*tab:only-of-type .tab-icon-image {display: none!important;}*/
tab:only-of-type .tab-label-container {
    mask-image: unset!important;
    overflow: unset!important;
}

tab:only-of-type .tab-label-container .tab-secondary-label {
    display: none!important;
}


#PersonalToolbar {
    width: 0px!important;
    padding: 0!important;
}
#nav-bar {
    width: max-content!important;
}