/*
 * Small window
 */
@media (max-width: 675px) {
    /* if single tab */
    tab:only-of-type {
        /*width: 225px!important;*/
        color: transparent!important;
    }
    tab:only-of-type  .tab-icon-image{
        display: initial!important;
    }
    #downloads-button {display: none!important;}
    #tabbrowser-tabs {
        display: none!important;
    }
    #nav-bar {
        width: calc(100% - 32px - 5px)!important;
    }
    .titlebar-spacer[type="pre-tabs"] {
        display: none!important;
    }
    #alltabs-button {
        list-style-image: var(--all-tabs-button-icon)!important;
        margin: 0!important;
        padding: 0!important;
        width: unset!important;
    }
    #alltabs-button stack {
        width: 32px!important;
        height: 32px!important;
        align-content: center!important;
        justify-content: center!important;
        margin-left: 4px!important;
    }
    #alltabs-button .toolbarbutton-icon {
        width: 16px!important;
        padding: 0!important; margin: 0!important;
    }
}
@media (min-width: 676px) {
    #alltabs-button,
    #alltabs-button .toolbarbutton-badge-stack,
    #alltabs-button .toolbarbutton-icon {
        width: 0!important;
        padding: 0!important; margin: 0!important;
    }
}