/*
 * Tab Buttons
 * Inner Tab */
/* hide close-tab-button all de time */
/*.tab-close-button{display: none!important;}*/

tab label {
    transition: font-size .15s;
    transition-timing-function: ease;
}

tab {margin-top: var(--onebar-top-margin)!important;}

.tab-content, .tab-background { height: 26px!important;}


/* hide newtab-button all de time */
/*#tabs-newtab-button {display: none!important;}*/

/* show close-tab-button on hover over tab only */
.tabbrowser-tab .tab-close-button{ display:none; }
.tabbrowser-tab:not([pinned]):not(:first-of-type:last-of-type):hover .tab-close-button{ display: flex!important; align-items: center!important;}

/* active tab background and border */
.tabbrowser-tab[selected] .tab-background {
    background-color: var(--tab-selected-bgcolor)!important;
    border: 1px var(--toolbar-field-focus-border-color) solid;
}

/* inactive tab color */
.tabbrowser-tab:hover:not[selected] .tab-background {
    /*color: var(--toolbar-bgcolor)!important;*/
    /*background-color: var(--tab-unselected-hover-bgcolor)!important;*/
    background-color: var(--toolbarbutton-hover-background)!important;
}

/* tab secondary label (eg 'PLAYING') */
.tab-secondary-label {
	font-size: .6em!important;
    margin-top: -4px!important;
    padding: 0!important;
}

/* removes gap between tabs */
.tabbrowser-tab { padding: 0 0px!important; }

/* ~center tab contents */
/*.tab-content { margin-top: var(--onebar-top-margin)!important;}*/

/* connect tabs to bar */
.tab-background { border-radius: var(--tab-border-radius) var(--tab-border-radius) 0 0 !important }

/* Tabs */
#titlebar {
    width: 0;
    flex-grow: 1;
    overflow: hidden;
}
#toolbar-menubar[inactive="true"] { /* Prevent duplicate window controls */
    display: none !important;
}
#TabsToolbar {
    display: flex !important;
    align-items: center;
}
.toolbar-items {
    flex-grow: 1 !important;
}
#TabsToolbar-customization-target {
    display: flex !important;
    margin-block: auto !important;
    align-items: center;
}
#tabbrowser-tabs {
    overflow: hidden !important;
    width: 0 !important;
    flex: 1 !important;
}

.tab-background { /* Just thought it looked nicer */
    margin-block: calc(2px + var(--tab-block-margin)) !important;
    box-shadow: none !important;
    transition: background-color .2s;
}
