/*
 * Titlebar
 */
.titlebar-buttonbox-container {
    order: -100 !important;
}

/* center titlebar-buttons vertically */
.titlebar-buttonbox-container {
    width: auto!important;
    position: absolute!important;
    top: var(--titlebar-buttonbox-container-top)!important; }

/* Hide Titlebar */
#titlebar{ -moz-appearance: none !important; }

/* hide the firefox-view-button */
#firefox-view-button { display: none!important; }
/* hide the weird vertical line */
#tabbrowser-tabs { border-inline-start: 0!important; }

/* spacer pre tabs */
.titlebar-spacer[type="pre-tabs"] {
    width: 24px!important;
    display: none!important;
}

/* spacer  post tabs*/
.titlebar-spacer[type="post-tabs"] {
    display: none!important;
}

/* Hide Scrollbuttons */
[id^=scrollbutton] {
    display:none!important;
}
