/*
 * Center Burger-Menu, extension-button etc vertically
 */
.toolbar .toolbarbutton-1 { margin: auto 0 0 0; }

/* Toolbar Buttons' Icons*/
.toolbarbutton-icon {
    transition: background-color .1s;
}
/*
 * ALLTABS-BUTTON
*/
/* enable drag */
#alltabs-button {
  cursor: move;
  -moz-window-dragging: drag;
}