/*
 * Urlbar Dropdown
 */

#urlbar[breakout-extend] {
    position: absolute !important;
    width: unset !important;
}

/* Dropdown when Downloads * /
#urlbar-container:has(~#downloads-button:not(hidden)) #urlbar[breakout-extend] {
    inset-inline: 25% calc(414px - 246px + 4px + 32px + 4px + 32px + 4px + 3px);
}
/* Dropdown without Downloads * /
#urlbar-container:has(~#downloads-button[hidden]) #urlbar[breakout-extend] {
    inset-inline: 25% calc(414px - 246px + 32px + 81px);
}
*/
/*
 * Small Window */
@media (max-width: 675px) {
    #urlbar[breakout-extend] {
        inset-inline: 42px 84px!important;
    }
}
/*
 * Normal Window */
@media (min-width: 676px) {
    /* Dropdown when Downloads */
    #urlbar-container:has(~#downloads-button:not(hidden)) #urlbar[breakout-extend] {
        inset-inline: 25% calc(414px - 246px + 4px + 32px + 4px + 32px + 4px + 3px)!important;
    }
    /* Dropdown without Downloads */
    #urlbar-container:has(~#downloads-button[hidden]) #urlbar[breakout-extend] {
        inset-inline: 25% calc(414px - 246px + 32px + 11px)!important;
    }
}






/* Dropdown Rounded Corners */
#urlbar[breakout][breakout-extend] > #urlbar-background {
    border-radius: 6px !important;
}
/* Adjust to Collapsed Urlbar */
#urlbar[breakout] { top: unset!important; }

/* Hide Things on Dropdown */
    .search-panel-current-engine,.search-panel-one-offs-header,.searchbar-separator{display:none!important}
    .urlbarView .search-one-offs{padding:0px 0px 2px 0px!important}
    .searchbar-engine-one-off-item{min-width:28px!important;max-height:28px!important;margin:0px!important}
    .search-one-offs {display:none!important;}

/* Dropdown Spacing */
.urlbarView-row-inner {
    padding-block: 3px!important;
}
.urlbarView-results {
    padding-block: 0 2px!important;
}
.urlbarView-row-inner {
    padding-inline: unset:!important;
}
