/*
 * Urlbar
 */
/* Urlbar Border on hover */
#urlbar:hover:not([focused="true"]) > #urlbar-background {
    --toolbar-field-border-color: var(--toolbar-field-focus-border-color)
}
/* Hide "https://" in urlbar unless focused */
#urlbar-input {
    transition: margin .1s;
}
.verifiedDomain ~ .urlbar-input-box:not(:focus-within) #urlbar-input {
    margin-left: -7ch !important;
    mask: linear-gradient(to right, transparent 4ch, black 5ch calc(100% - 3ch), transparent) !important;
}
/*
 * Urlbar Buttons
 */
#urlbar-go-button,
#identity-box,
#tracking-protection-icon-container,
#page-action-buttons {
    /*display: none!important;*/
    width: 0!important;
    margin: 0!important;
    padding: 0!important;
}
