/* Windows OS Fixes */
@media (-moz-platform: windows-win10), (-moz-platform: windows-win11) /* I don't actually know if it's -win11 or not, but I hope it is. */ {
    :root[tabsintitlebar]{
        --uc-window-control-width: 137px;
        --uc-win-ctrl-padding: 12px;
    }

    #nav-bar {
        padding-right: calc(var(--uc-window-control-width) + var(--uc-win-ctrl-padding)) !important;
    }
    .titlebar-buttonbox-container {
        top: 0 !important;
        right: 0 !important;
        height: calc(var(--tab-min-height) + var(--toolbarbutton-inner-padding) + var(--toolbarbutton-outer-padding));
        position: fixed !important;
        z-index: 101 !important;
    }
    .toolbar-items {
        max-width: calc(100vw - var(--uc-window-control-width)) !important;
    }

    /* Hide window buttons in fullscreen */
    #navigator-toolbox[style*="margin-top: -"] .titlebar-buttonbox-container,
    [inDOMFullscreen="true"] .titlebar-buttonbox-container {
        transform: translateY(-100px)
    }

}

